<section>
    <button onclick="downloadFiltered()">Gerar Planilha</button>
    <select id="office">

        <option value="">all</option>
        {% for domain in domains %}
            <option value="{{ domain[0] }}">{{domain[0]}}</option>
        {% endfor %}
    </select>
    <script>
        function downloadFiltered() {
            const selected = document.getElementById('office').value;
            window.location.href = `/excel/tickets.xlsx?office=${selected}`;
        }
    </script>
</section>