<section>
    <div>
        <h1>Gerar Planilha</h1>
    </div>
    <div id="sheet-div">
        <div>
            <label class="sheet-label" for="sheet-office">Domínio de E-mail:</label>
            <select class="sheet-item" id="sheet-office">
                <option value="">Todos</option>
                {% for domain in domains %}
                    <option value="{{ domain[0] }}">{{domain[0]}}</option>
                {% endfor %}
            </select>
        </div>

        <div>
            <label class="sheet-label" for="init-date"> De:
                <input class="sheet-item cal" type="date" name="init-date" id="init-date">
            </label>
            <label class="sheet-label" for="end-date"> Até:
                <input class="sheet-item cal" type="date" name="end-date" id="end-date">
            </label>
        </div>
        <button class="sheet-item" id="sheet-btn" onclick="downloadFiltered()">Criar</button>
    </div>
    <script>
        const getToday = (() => {
            const today = new Date()
            const initDate = document.getElementsByName("init-date")[0]
            const endDate = document.getElementsByName("end-date")[0]

            initDate.setAttribute("max", today.toISOString().substring(0, 10))
            endDate.setAttribute("max", today.toISOString().substring(0, 10))
        })()

        function downloadFiltered() {
            const sheetOffice = document.getElementById('sheet-office').value;
            const initDate = document.getElementsByName('init-date')[0].value;
            const endDate = document.getElementsByName('end-date')[0].value;

            window.location.href = `/excel/tickets.xlsx?office=${sheetOffice}&initDate=${initDate}&endDate=${endDate}`;
        }
    </script>
</section>